@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import 'variables';
html,
body {
  min-height: 100%;
  font-size: 18px;
  font-family: 'Roboto', cursive;

}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Permanent Marker', cursive;
}

body {
  padding-top: 55px;
  background: #fff;
}

code{
  background: #ddd;
  padding: 5px;
  line-height: 1.4;
  font-size: 12px;
  border: 1px solid #aaa;
  font-family: 'Source Code Pro', monospace;
  display: block;
}

p {
  color: gray;
}

strong{
  letter-spacing: 2px;
  font-weight: 300;
  background: #ddd;
  padding: 5px;
  border: 1px solid #aaa;
  font-size: 14px;
  color: #000;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.tr {
  text-align: right;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.heading {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  margin: 0;
}

.nav {
  width: 100%;
  background: $secondary-color;
  z-index: 1010;
  position: fixed;
  top: 0;
  left: 0;
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    max-width: 64px;
    margin-right: 10px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__title {
    margin: 0;
    color: $primary-color;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
  }
  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  &__item {
    display: inline-block;
    margin: 0 10px;
  }
  &__link {
    display: block;
    height: 55px;
    line-height: 51px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    transition: color 0.2s ease;
    &:hover {
      color: $primary-color;
    }
    &--active {
      color: #fff;
      border-bottom-color: $primary-color;
    }
  }
  &__github {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.3px;
    transition: color 0.5s ease;
    svg {
      display: block;
      width: 20px;
      fill: #fff;
      margin-right: 10px;
      transition: fill 0.5s ease;
    }
    &:hover {
      color: $primary-color;
      svg {
        fill: $primary-color;
      }
    }
  }
}

.title {
  text-align: center;
  color: $primary-color;
  font-size: 30px;
  margin-bottom: 30px;
  a {
    color: $secondary-color;
    text-decoration: none;
    transition: color 0.5s ease;
    &:hover {
      color: #B83B5E;
    }
  }
}

.hello {
  background-color: $secondary-color;
  padding: 55px 0;
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__ &__logo {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
  }
}

.demo {
  &-section {
    padding: 40px 0;
    &--light {
      background: #f8f8f8;
    }
    &__heading {
      text-align: center;
      color: $secondary-color;
    }
  }
  // List
  &-list {
    list-style: none;
    padding: 0;
    margin: 22px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    &__item {
      // margin: 3px;
      width: 49%;
      // padding: 2px;
      // width: 49%;
      // padding: 5px;
      // flex-direction: column;
    }
    &__link {
      display: block;
      text-decoration: none;
      padding: 10px 20px;
      text-decoration: none;
      color: #fff;
      background: $secondary-color;
      border-radius: 5px;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  .demo-list__item {
    width: 100%;
  }
  .nav {
    position: static;
  }
  body {
    padding-top: 0;
  }
  .nav__container {
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .nav__item {
    display: block;
  }
  .nav__link {
    height: auto;
    line-height: 1;
  }
}

.coming-soon {
  color: $primary-color;
}
footer{
  text-align: center;
  // background: $primary-color;
}

.footer-logo{
  height: 200px;
  margin: 5px auto;

}